<section id="education">
<div class="container">
</br></br></br>
  <h3>Education</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
		<strong>Middle Tennessee State University</strong>
		<p>PhD in Computational Science in the (2012 - 2017 Expected)</p>
		</h4>
		<h4>
		<strong>Middle Tennessee state University</strong>
		<p>MSc in Computer Science (2012 - 2015)</p>
		</h4>
		<h4>
		<strong>Truman State University</strong>
		<p>BSc in Physics (Minor: Mathematics) (2008 - 2012)</p>
		</h4>
    </div>
  </div>
</br></br>
</div><!-- /.container -->
</section>
