<section id="invitedTalks">
<div class="container">
<h3>Invited Talks</h3>
<div class="panel panel-default">
  <div class="panel-body">
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson,<a href="https://www.cs.mtsu.edu/~vk2g/Computational_modeling_of_Bloch_surface_waves_in_one-dimensional_periodic_and_aperiodic_multilayer_structures.pdf" target="_blank"> Computational modeling of Bloch surface waves in one-dimensional periodic and aperiodic multilayer structures</a>, Physics Colloquium, Vanderbilt University, TN, September 30, 2016.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, Ebony Rowe, and William M. Robertson,<a href="https://www.cs.mtsu.edu/~vk2g/Extraordinary_transmission_mediated_by_Helmholtz_Resonators.pdf" target="_blank"> Extraordinary acoustic transmission mediation by Helmholtz resonators</a>, Physics Colloquium, Middle Tennessee State University, TN, September 27, 2013. 
	</h4>
  </div>
</div>
</div>
</section>
