<section id="invitedTalks">
<div class="container">
<h3>Invited Talks</h3>
<div class="panel panel-default">
  <div class="panel-body">
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, Computational modeling of Bloch surface waves in one-dimensional periodic and aperiodic multilayer structures, Physics Colloquium, Vanderbilt University, TN, September 30, 2016.
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, Ebony Rowe, and William M. Robertson, Extraordinary acoustic transmission mediation by Helmholtz resonators, Physics Colloquium, Middle Tennessee State University, TN, September 27, 2013. 
	</h4>
  </div>
</div>
</div>
</section>
