<section id="posters">
<div class="container">
<h3>Posters</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.comsol.com/paper/download/363381/koju_poster.pdf" target="_blank">Highly sensitive grating-coupled Bloch surface wave resonance bio-sensors via azimuthal interrogation</a>, COMSOL Conference, Boston, MA, October 6, 2016. 
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.cs.mtsu.edu/~vk2g/Poster_2015_ScholarsWeek.pdf" target="_blank">Highly sensitive biosensors based on grating coupled Bloch surface waves</a>, Scholar Week, Middle Tennessee State University, TN, March 20, 2015. 
    </h4>
    <h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;Brain C. Crow, Jordan M. Cullen, William W. Mckenzie, <strong>Vijay Koju</strong>, and William M. Robertson, Experimental realization of extraordinary acoustic transmission using Helmholtz resonators, Scholar Week, Middle Tennessee State University, TN, March 17, 2015.</br><u>Selected for MTSU Scholars Week Poster Presentation Awards (3rd position)</u> 
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, Ebony Rowe, and William M. Robertson, <a href="https://www.cs.mtsu.edu/~vk2g/Helmholtz_Resonators.pdf" target="_blank">Extraordinary Acoustic Transmission Mediated by Helmholtz Resonators</a>, Scholar Week, Middle Tennessee State University, TN, April 21, 2014. 
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.cs.mtsu.edu/~vk2g/summerPoster_2013.pdf" target="_blank">Simulation of Surface Plasmons and Bloch Surface Waves using COMSOL</a>, MTSU Summer Research Celebration, Middle Tennessee State University, TN, July 26, 2013. 
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.cs.mtsu.edu/~vk2g/SPW_poster_fnal_40_32.pdf" target="_blank">Finite Element Simulation of Surface Plasmon Resonance</a>, Scholars Week, Middle Tennessee State University, TN, April 5, 2013.</br><u>Selected for MTSU Scholars Week Poster Presentation Awards (2nd position)</u>
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.cs.mtsu.edu/~vk2g/SPW_poster_fnal_40_32.pdf" target="_blank">Finite Element Simulation of Surface Plasmon Resonance</a>, Annual Meeting of the Tennessee Section of the American Association of Physics Teachers (TAAPT), Middle Tennessee State University, TN, March 23, 2013. 
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;Matthew M. Beaky, and <strong>Vijay Koju</strong>, Time-Depending Behavior of the O’Connell Effect in Eclipsing Binary Star Systems, American Astronomical Society, AAS Meeting #200, #333.03, May, 2012. 
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky, <a href="https://www.cs.mtsu.edu/~vk2g/kepler_poster2.pdf" target="_blank">Migrating Starspots: A Possible Explanation of the periodic O’Connell Effect in Kepler Eclipsing Binaries</a>, MidAmerican Regional Astrophysics Conference (MARAC), University of Kansas, KS, April 13, 2012 
    </h4>
  </div>
</div>
</div>
</section>
