<section id="projects">
<div class="container">
  <h3>Coding Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vijaykoju/3D_ScatteringMatrix_RCWA" target="_blank">3D ScatteringMatrix RCWA</a></strong> - Three dimensional Scattering Matrix based Rigorous Coupled Wave Analysis Code in MATLAB.
		</h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vijaykoju/3D_ScatteringMatrix_RCWA_cpp" target="_blank">3D ScatteringMatrix RCWA C++</a></strong> - Three dimensional Scattering Matrix based Rigorous Coupled Wave Analysis Code in C++.
        </h4>
		<h4>
			<i class="fa fa-globe"></i><strong>&nbsp;&nbsp;<a href="https://dataincubatorchallenge3.herokuapp.com/" target="_blank">NBA Predict</a></strong> - Data Science project to predict outcomes of NBA games using machine learning algorithms in Python.
			<a href="https://github.com/vijaykoju/NBA_Predict" target="_blank">Source Code</a>.
		</h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vijaykoju/Kepler-Project" target="_blank">Kepler Project</a></strong> - Analysis and visualization of eclipsing binary light curves from the Kepler-Mission database. 
        </h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vijaykoju/Data_Mining_Naive_Bayes" target="_blank">Naive Bayes Tic-tac-toe</a></strong> - Data Science project to classify the winning and losing moves in Tic-tac-toe using Naive Bayes probability. 
        </h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vijaykoju/Database_project" target="_blank">Coursework Management</a></strong> - A project to develop a coursework deadline management system so that both students and teachers can manage deadlines on the same system. 
        </h4>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vijaykoju/OpenGL_projects" target="_blank">OpenGL Visualization Projects</a></strong> - Visualization projects using OpenGL. 
        </h4>
        <!--
		<h4>
			<i class="fa fa-cog"></i><strong>&nbsp;&nbsp;<a href="https://bib2yaml.appspot.com">BibYAML</a></strong>
			- A tool for converting BibTeX bibliographies to a YAML format, deployed in Google App Engine.
			<a href="https://github.com/biomadeira/gae_bib2yaml">Source Code</a>.
		</h4>
        -->
    </div>
  </div>
</div>
</section>
