<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
		<span class="label label-success">Journal</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-41-13-2915&amp;origin=search" target="_blank">Excitation of Bloch-like surface waves in quasi-crystals and aperiodic dielectric multilayers</a>, <em>Optics Letters,</em> 41(13), 2915-2918 (2016) 
		</h4>
		<h4>
		<span class="label label-success">Journal</span>&nbsp;&nbsp;Brain C. Crow, Jordan M. Cullen, William w. Mckenzie, <strong>Vijay Koju</strong>, and William M. Robertson, <a href="http://scitation.aip.org/content/aip/journal/adva/5/2/10.1063/1.4908180" target="_blank">Experimental realization of extraordinary acoustic transmission using Helmholtz resonators</a>, <em>AIP Advances</em>, 5, 027114 (2015) 
		</h4>
		<h4>
		<span class="label label-success">Journal</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky, <a href="http://www.konkoly.hu/cgi-bin/IBVSpdf?6127" target="_blank">Null correlation between the O’Connell effect and orbital period change for SW Lac, CN And, and V502 Oph</a>, <em>Information Bulletin on Variable Stars</em>, 6101, 6127 (2015) 
		</h4>
		<h4>
		<span class="label label-success">Journal</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, Ebony Rowe, and William M. Robertson, <a href="http://scitation.aip.org/content/aip/journal/adva/4/7/10.1063/1.4891849" target="_blank">Extraordinary Acoustic Transmission mediated by Helmholtz Resonators</a>, <em>AIP Advances</em>, 4, 077132 (2014) 
		</h4>
		<h4>
		<span class="label label-success">Journal</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.osapublishing.org/oe/fulltext.cfm?uri=oe-22-13-15679&amp;id=294173" target="_blank">Slow light by Bloch surface wave tunneling</a>, <em>Optics Express,</em> 22(13), 15679-15685 (2014) 
		</h4>
		<h4>
		<span class="label label-primary">Conference Proceedings</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="https://www.comsol.com/paper/download/363371/koju_paper.pdf" target="_blank">Highly Sensitive Grating-Coupled Bloch Surface Wave Resonance Biosensor via Azimuthal Interrogation</a>, <em>Proc. of 2016 COMSOL Conference</em>, Optics, Photonics, and Semicondoctors 2 (2016) 
		</h4>
		<h4>
		<span class="label label-primary">Conference Proceedings</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, <a href="http://proceedings.spiedigitallibrary.org/proceeding.aspx?articleid=2562218" target="_blank">Bloch-like surface waves in Fibonacci quasi-crystals and Thue-Morse aperiodic dielectric multilayers</a>, <em>Proc. of SPIE</em>, 9929, Nanostructured Thin Films IX, 99290O (2016) 
		</h4>
		<h4>
		<span class="label label-primary">Conference Proceedings</span>&nbsp;&nbsp;J. S. Baba, <strong>Vijay Koju</strong>, and Dwayne John, <a href="http://spie.org/Publications/Proceedings/Paper/10.1117/12.2213985" target="_blank">The impact of absorption coefficient on polarimetric determination of Berry phase based dept resolved characterization of biomedical scattering samples: a polarized Monte Carlo investigation</a>, <em>Proc. of SPIE</em>, 9713, Three-Dimensional and Multidimensional Microscopy: Image Acquisition and Processing XXIII, 97130J (2016) 
		</h4>
		<h4>
		<span class="label label-primary">Conference Proceedings</span>&nbsp;&nbsp;J. S. Baba, <strong>Vijay Koju</strong>, and Dwayne John, <a href="http://spie.org/Publications/Proceedings/Paper/10.1117/12.2083421" target="_blank">Monte Carlo based investigation of berry phase for depth resolved characterization of biomedical scattering sample</a>, <em>Proc. of SPIE</em>, 9333, Biomedical Applications of Light Scattering IX, 93330O (2015) 
		</h4>
		<!-- <h4>
		<span class="label label-info">Thesis</span>&nbsp;&nbsp; <strong>Fábio Madeira</strong>. 2010.
		<a href="http://dx.doi.org/10.6084/m9.figshare.923432">Estudos estruturais e funcionais da fenilalanina hidroxilase humana</a>. Master Thesis in Molecular Genetics and Biomedicine. <em>In Portuguese</em>
		</h4> -->
    </div>
  </div>
</div>
</section>
