<!--<div class="social">
<nav class="navbar navbar-cemter">
  <div class="container">
    <div class="navbar-center">
    <h4>
	  <a class="navbar-brand" href="http://github.com/vijaykoju" style="text-align:center;" target="_blank"><i class="fa fa-github"></i></a>
	  <a href="http://twitter.com/biomadeira"><i class="fa fa-twitter"></i></a>
	  <a class="navbar-brand" href="http://linkedin.com/in/vijaykoju" target="_blank"><i class="fa fa-linkedin"></i></a>
	  <a class="navbar-brand" href="https://scholar.google.com/citations?user=Zlna_xYAAAAJ&hl=en" target="_blank"><i class="fa fa-google"></i></a>
    </h4>
</div>
</div>
</nav>
-->
