<section id="talks">
<div class="container">
<h3>Talks</h3>
<div class="panel panel-default">
  <div class="panel-body">
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson,<a href="https://www.cs.mtsu.edu/~vk2g/Highly_Sensitive_Grating_coupled_Bloch_Surface_Wave_Resonance_Biosensor_via_Azimuthal_Interrogation.pdf" target="_blank"> Highly sensitive grating-coupled Bloch surface wave resonance bio-sensors via azimuthal interrogation</a>, COMSOL Conference, Boston, MA, October 6, 2016.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson,<a href="https://www.cs.mtsu.edu/~vk2g/Bloch-like_surface_waves_in_Fibonacci_quasi-cyrstals_and_Thue-Morse_aperiodic_dielectric_multilayers.pdf" target="_blank"> Bloch-like surface waves in Fibonacci quasi-crystals and Thue-Morse aperiodic dielectric multilayers</a>, SPIE Optics + Photonics, San Diego, CA, August 31, 2016.</br><u>Selected for SPIE Young Scientist Awards (1st Place)</u>
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;Justin S. Baba, <strong>Vijay Koju</strong>, and Dwayne John,<a href="https://www.cs.mtsu.edu/~vk2g/The_impact_of_absorption_coefficient_on_polarimetric.pdf" target="_blank"> The impact of absorption coefficientcient on polarimetric determination of Berry phase based depth resolved characterization of biomedical scattering samples: a polarized Monte Carlo investigation</a>, SPIE Photonics West BIOS, San Franscisco, CA, February 15, 2016. 
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;Justin S. Baba, <strong>Vijay Koju</strong>, and Dwayne John, Monte Carlo based investigation of Berry phase for depth resolved characterization of biomedical scattering samples, SPIE Photonics West BIOS, San Franscisco, CA, February 8, 2015. 
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, Justin S. Baba, and Dwayne John,<a href="https://www.cs.mtsu.edu/~vk2g/Monte_Carlo_simulation_for_Light_transport_in_turbid_media.pdf" target="_blank"> Monte Carlo simulation for light transport in turbid media</a>, Joint Institute for Computational Science Seminar, Oak Ridge National Laboraory, TN, August 21, 2014. 
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky,<a href="https://www.cs.mtsu.edu/~vk2g/Study_of_the_Variable_OConnell_Effect_in_Eclipsing_Binaries.pdf" target="_blank"> Study of the Variable O'Connell effect in over-contact eclipsing binaries</a>, Student Research Conference, Truman State University, MO, April 17, 2012. 
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky,<a href="https://www.cs.mtsu.edu/~vk2g/Differential_Rotation_A_Possible_Explanation_of_the_Variable_OConnell_Effect_in_Eclipsing_Binaries.pdf" target="_blank"> Differential rotation: A possible cause of the varying O'Connell effect in eclipsing binaries</a>, TruSymposium, Truman State University, MO, August 27, 2011. 
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky,<a href="https://www.cs.mtsu.edu/~vk2g/Investigations_into_the_Origins_of_the_OConnell_Effect_in_Eclispsing_Binary_Star_Systems.pdf" target="_blank"> Investigations into the Origins of the O'Connell effect in eclipsing binary star systems</a>, Student Research Conference, Truman State University, MO, April 14, 2011. 
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky,<a href="https://www.cs.mtsu.edu/~vk2g/Investigations_into_the_Origins_of_the_OConnell_Effect_in_Eclispsing_Binary_Star_Systems.pdf" target="_blank"> Investigations into the Origins of the O'Connell effect in eclipsing binary star systems</a>, National Conference of Undergraduate Research (NCUR), Ithaca College, NY, April 1, 2011. 
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky,<a href="https://www.cs.mtsu.edu/~vk2g/A_Photometric_Study_of_the_OConnell_Effect_in_Eclipsing_Binaries.pdf" target="_blank"> A photometric study of the O'Connell effect in eclipsing binary star systems</a>, TruSymposium, Truman State University, MO, August 28, 2010. 
	</h4>
  </div>
</div>
</div>
</section>
