<section id="talks">
<div class="container">
<h3>Talks</h3>
<div class="panel panel-default">
  <div class="panel-body">
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, Highly sensitive grating-coupled Bloch surface wave resonance bio-sensors via azimuthal interrogation, COMSOL Conference, Boston, MA, October 6, 2016.
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and William M. Robertson, Bloch-like surface waves in Fibonacci quasi-crystals and Thue-Morse aperiodic dielectric multilayers, SPIE Optics + Photonics, San Diego, CA, August 31, 2016.</br><u>Selected for SPIE Young Scientist Awards (1st Place)</u>
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;Justin S. Baba, <strong>Vijay Koju</strong>, and Dwayne John, The impact of absorption coefficientcient on polarimetric determination of Berry phase based depth resolved characterization of biomedical scattering samples: a polarized Monte Carlo investigation, SPIE Photonics West BIOS, San Franscisco, CA, February 15, 2016. 
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;Justin S. Baba, <strong>Vijay Koju</strong>, and Dwayne John, Monte Carlo based investigation of Berry phase for depth resolved characterization of biomedical scattering samples, SPIE Photonics West BIOS, San Franscisco, CA, February 8, 2015. 
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, Justin S. Baba, and Dwayne John, High-performance computing Monte Carlo modeling of photon propagation in highly scattering samples, Joint Institute for Computational Science Seminar, Oak Ridge National Laboraory, TN, August 21, 2014. 
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky, Study of the Variable O'Connell effect in over-contact eclipsing binaries, Student Research Conference, Truman State University, MO, April 17, 2012. 
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky, Differential rotation: A possible cause of the varying O'Connell effect in eclipsing binaries, TruSymposium, Truman State University, MO, August 27, 2011. 
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky, Investigations into the Origins of the O'Connell effect in eclipsing binary star systems, Student Research Conference, Truman State University, MO, April 14, 2011. 
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky, Investigations into the Origins of the O'Connell effect in eclipsing binary star systems, National Conference of Undergraduate Research (NCUR), Ithaca College, NY, April 1, 2011. 
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;<strong>Vijay Koju</strong>, and Matthew M. Beaky, A photometric study of the O'Connell effect in eclipsing binary star systems, TruSymposium, Truman State University, MO, August 28, 2010. 
	</h4>
  </div>
</div>
</div>
</section>
